aside{
    background-color: #F3F3F3;
    width: 15svw;
    border-radius: 20px;
    height: 100%;

    ul{
        list-style: none;
    }

    a{
        text-decoration: none;
    }

    h1{
        a{
            color: black;
            i,span{
                color: #0a6aa0;
            }
        }
    }

    li{
        font-size: 1rem;
        border-radius: 10px;
        margin-bottom: 5px;
        
        a{
            padding: 1svh 1.5svw;
            display: flex;
            align-items: center;
            color: black;
        }
    }

    li:hover, .active{
        background: #9E4F5A;
        cursor: pointer;

        a{
            color: white;
        }
    }
}