<nav data-cy="sidebar" class="sidebar mx-3 mt-4 d-flex flex-column gap-3">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action ripple" routerLink="/document">
            <fa-icon icon="file-alt" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.sidebar.personalDocuments">Documente personale</span>
        </a>
        <a class="list-group-item list-group-item-action ripple" routerLink="/files/list">
            <fa-icon icon="database" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.sidebar.storage">Storage</span>
        </a>
    </div>
    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="list-group list-group-flush">
        <p class="list-group-item mb-0" jhiTranslate="global.menu.sidebar.administration">Administrare</p>
        <a class="list-group-item list-group-item-action ripple" routerLink="/admin/user-management">
            <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.sidebar.users">Utilizatori</span>
        </a>
        <a class="list-group-item list-group-item-action ripple" routerLink="/document">
            <fa-icon icon="file-alt" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.sidebar.documents">Documente</span>
        </a>
        <a class="list-group-item list-group-item-action ripple" routerLink="/admin/reservation-space/list">
            <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.sidebar.rezervation">Rezervari</span>
        </a>
        <a class="list-group-item list-group-item-action ripple" routerLink="/admin/logs">
            <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.sidebar.journal">Jurnal</span>
        </a>
        <a class="list-group-item list-group-item-action ripple" routerLink="/admin/docs">
            <fa-icon icon="cloud" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.sidebar.api">API</span>
        </a>
    </div>
</nav>
