<div id="navbarResponsive">
  <ul class="navbar-nav ms-auto">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    </li>
    <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
    @if (account !== null) {
    <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu"
        data-cy="entity">
        <span>
          <fa-icon icon="th-list"></fa-icon>
          <span jhiTranslate="global.menu.entities.main">Entități</span>
        </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
      </ul>
    </li>
    }
    <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic"
      routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu"
        data-cy="adminMenu">
        <span>
          <fa-icon icon="users-cog"></fa-icon>
          <span jhiTranslate="global.menu.admin.main">Administrare</span>
        </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
        <li>
          <a class="dropdown-item" routerLink="/admin/user-management" routerLinkActive="active">
            <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.admin.userManagement">Gestiune utilizatori</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/admin/logs" routerLinkActive="active">
            <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.admin.logs">Jurnal</span>
          </a>
        </li>
        @if (openAPIEnabled) {
        <li>
          <a class="dropdown-item" routerLink="/admin/docs" routerLinkActive="active">
            <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.admin.apidocs">API</span>
          </a>
        </li>
        }
        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
      </ul>
    </li>
    @if (languages && languages.length > 1) {
    <li ngbDropdown class="nav-item dropdown pointer" display="dynamic">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
        <span>
          <fa-icon icon="flag"></fa-icon>
          <span jhiTranslate="global.menu.language">Limbă</span>
        </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
        @for (language of languages; track $index) {
        <li>
          <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);"
            (click)="changeLanguage(language);">{{ language | findLanguageFromKey }}</a>
        </li>
        }
      </ul>
    </li>
    }
    <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu"
        data-cy="accountMenu">
        @if (!account?.imageUrl) {
        <span>
          <fa-icon icon="user"></fa-icon>
          <span jhiTranslate="global.menu.account.main">Cont</span>
        </span>
        } @else {
        <span>
          <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
        </span>
        }
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
        @if (account !== null) {
        <li>
          <a class="dropdown-item" routerLink="/account/settings" routerLinkActive="active"
            data-cy="settings">
            <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.account.settings">Setări</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/account/password" routerLinkActive="active"
            data-cy="passwordItem">
            <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.account.password">Parolă</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
            <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.account.logout">Ieșire</span>
          </a>
        </li>
        } @else {
        <li>
          <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
            <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.account.login">Autentificare</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/account/register" routerLinkActive="active"
            data-cy="register">
            <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.account.register">Înregistrare</span>
          </a>
        </li>
        }
      </ul>
    </li>
  </ul>
</div>