<section class="d-flex justify-content-center">
  <form role="form" novalidate class="col-md-8" enctype="multipart/form-data" method="post" >
    <h2>
      Creeare sau editare Document
    </h2>

    <div>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>

      <div class="mb-3">
        <label for="formFile" class="form-label">Alegeti fisier spre incarcare</label>
        <input (change)="onFileSelected($event)" class="form-control" type="file" id="formFile">
      </div>

      @if(fileToUpload != null){
        <a (click)="openFile(fileToUpload.webkitRelativePath, fileToUpload.type)" class="pull-start">Deschide</a>
        <div class="form-text text-danger clearfix">
          <span>File size: <code class="fw-bold">{{byteSize(fileToUpload.type)}}</code></span>
          <hr>
        </div>
      }

      <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" routerLink="../list">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Anulare</span>
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="upload()"
      >
        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvare</span>
      </button>
    </div>
  </form>
</section>
