<section class="d-flex justify-content-center">
  <form (ngSubmit)="upload()" [formGroup]="uploadForm"
        class="d-flex justify-content-center" class="col-md-8"
        enctype="multipart/form-data" novalidate role="form">
    <h2>
      Încărcarea Document
    </h2>

    <div>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>

      <div class="mb-3">
        <label class="form-label" for="formFile">Alegeti fisier</label>
        <input formControlName="file" (change)="onFileSelected($event)" class="form-control" id="formFile" type="file">
      </div>

      @if (fileToUpload != null) {
        <a (click)="openFile(uploadForm.get('data')?.value, uploadForm.get('mimeType')?.value)" class="pull-start">Deschide</a>
        <div class="form-text text-danger clearfix">
          <span>Last modified: <code
            class="fw-bold">{{ fileToUpload.lastModified | date: 'dd/MM/yy HH:mm' }}</code></span>
          <br />
          <span>File type: <code class="fw-bold">{{ fileToUpload.type }}</code></span>
          <br />
          <span>File size: <code class="fw-bold">{{ byteSize(fileToUpload.type) }}</code></span>
          <hr>
        </div>
      }

      <button
        [disabled]="uploadForm.invalid || !isSaving"
        class="btn btn-primary"
        type="submit"
      >
        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvare</span>
      </button>
    </div>
  </form>
</section>
