@if (currentAccount !== null) {
  <div class="row p-2">
    <h2>
      <span>Rezervari</span>

      <div class="d-flex justify-content-end">
        <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="userManagement.home.refreshListLabel">Refresh list</span>
        </button>
      </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <table class="table table-striped" aria-describedby="user-files-uploaded">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
          <th scope="col" jhiSortBy="totalSize">
            <span jhiTranslate="reservationSpace.table.thead.totalSize">Total Size</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="usedSize">
            <span jhiTranslate="reservationSpace.table.thead.usedSize">Used Size</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user">
            <span jhiTranslate="reservationSpace.table.thead.user">User</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="activated">
            <span jhiTranslate="reservationSpace.table.thead.activated">Activated</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="reservationSpace.table.thead.createdBy">Created By</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="reservationSpace.table.thead.createdDate">Created Date</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation.totalSize }}</td>
        <td>{{ reservation.usedSize }}</td>
        <td>{{ reservation.user | checkFirstLastName }}</td>
        <td>
          @if (!reservation.activated){
            <button class="btn btn-danger btn-sm border-0" (click)="setActive(reservation, true)" jhiTranslate="userManagement.deactivated" class="p-1 bg-danger text-white">
              Deactivat
            </button>
          } @else {
            <button class="btn btn-danger btn-sm border-0" (click)="setActive(reservation, false)"  jhiTranslate="userManagement.activated" class="p-1 bg-success text-white">
              Activat
            </button>
          }
        </td>
        <td>{{ reservation.createdBy }}</td>
        <td>{{ reservation.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
        <td>
          <button
            [routerLink]="['../', reservation.id,'detail']"
            type="submit"
            class="btn btn-info btn-sm"
          >
            <fa-icon icon="eye"></fa-icon>
          </button>

          <button
            type="submit"
            class="btn btn-primary btn-sm"
            (click)="openModalChangeTotalSize()"
          >
            <fa-icon icon="pencil-alt"></fa-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count
          [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>
      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="transition()"
        ></ngb-pagination>
      </div>
    </div>
  </div>
} @else {
  <div class="alert alert-warning">
    <span jhiTranslate="global.messages.info.register.noaccount">Încă nu aveți un cont?</span>&nbsp;
    <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Înregistrați
      un cont nou</a>
  </div>
}
