<ul>
    <li class="d-flex justify-content-between px-4 py-2 align-items-center text-bg-light">
        <fa-icon icon="database" class="fs-3"></fa-icon>
        <span class="d-flex align-items-center fs-6">
            Spatiu utilizat
            <b class="ps-2 fw-bold fs-5">52</b>
        </span>
    </li>

    <li class="d-flex justify-content-between px-4 py-2 align-items-center border-top text-bg-light">
        <fa-icon icon="file-alt" class="fs-3"></fa-icon>
        <span class="d-flex align-items-center fs-6">
            Documente
            <b class="ps-2 fw-bold fs-5">522</b>
        </span>
    </li>

    <li class="d-flex justify-content-between px-4 py-2 align-items-center border-top text-bg-light">
        <fa-icon icon="users" class="fs-3"></fa-icon>
        <span class="d-flex align-items-center fs-6">
            utilizatori
            <b class="ps-2 fw-bold fs-5">5211</b>
        </span>
    </li>
</ul>