<div>
  <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="reservationSpace.modalChangeTotalSize.modalTitle">Schimbarea Dimensiune Totala</h4>
    <button (click)="closeModal()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group mb-2">
      <input class="form-control" name="totalSizeValue" type="number" placeholder="Write new total size">
      <div class="input-group-prepend">
        <div class="input-group-text">MB</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      (click)="closeModal()"
      class="btn btn-secondary btn-sm"
      data-dismiss="modal"
      type="button"
    >
      <fa-icon icon="ban"></fa-icon>&nbsp;
      <span jhiTranslate="files.confirmDeleteModal.buttons.cancel">Anulare</span>
    </button>

    <button
      (click)="updateTotalSize()"
      class="btn btn-success btn-sm"
      type="submit"
    >
      <fa-icon icon="times"></fa-icon>&nbsp;
      <span jhiTranslate="reservationSpace.modalChangeTotalSize.modalButtons.confirm">Actualizeaza</span>
    </button>
  </div>
</div>

