<section class="d-flex">
  <div class="col-8">
    @if(file){
      <h2><span jhiTranslate="files.table.thead.name">File name</span> [{{file.name}}]</h2>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="files.table.thead.mimeType">mimeType</span></dt>
        <dd><span>{{ file.mimeType }}</span></dd>

        <dt><span jhiTranslate="files.table.thead.size">Size</span></dt>
        <dd><span>{{ fileSize }} bytes</span></dd>

        <dt><span jhiTranslate="files.table.thead.last_modified">Last modified</span></dt>
        <dd><span>{{file.createdDate | date: 'dd/MM/yy HH:mm'}}</span></dd>

        <dt><span jhiTranslate="files.table.thead.user">Created ny</span></dt>
        <dd><span>{{file.createdBy}}</span></dd>

        @if(file.data){
          <div>
            <a (click)="openFile(filePath, file.mimeType)" class="pull-start">Deschidere</a>
            {{ byteSize(file.data[0]) }} - {{ file.mimeType }}
          </div>
        }
      </dl>
    } @else {
      <div class="alert alert-warning" id="no-result">
        <span>Document not found</span>
      </div>
    }
  </div>
</section>
