<div>
  <h2>
    <span id="user-management-page-heading" jhiTranslate="userManagement.home.title" data-cy="userManagementPageHeading">Utilizatori</span>

    <div class="d-flex justify-content-end align-items-baseline">
      <div>
        <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="userManagement.home.refreshListLabel">Refresh list</span>
        </button>
      </div>

      <div>
        <button class="btn btn-primary jh-create-entity me-2" [routerLink]="['./new']">
          <fa-icon icon="plus"></fa-icon> <span jhiTranslate="userManagement.home.createLabel">Creare utilizator nou</span>
        </button>
      </div>

      <div ngbDropdown class="dropdown">
        <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="exportDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <fa-icon icon="file-export"></fa-icon>
          <span jhiTranslate="files.buttons.export.title">Export</span>
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="exportDropdown">
          <a jhiTranslate="files.buttons.export.downloadCSV" class="dropdown-item">Download CSV</a>
          <a jhiTranslate="files.buttons.export.exportEXCEL" class="dropdown-item">Export to Excel</a>
        </div>
      </div>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (users) {
    <div class="table-responsive">
      <table class="table table-striped" aria-describedby="user-management-page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
            <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="login"><span jhiTranslate="userManagement.login">Cont</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="email"><span jhiTranslate="userManagement.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col"></th>
            <th scope="col" jhiSortBy="langKey">
              <span jhiTranslate="userManagement.langKey">Limbă</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"><span jhiTranslate="userManagement.profiles">Profil</span></th>
            <th scope="col" jhiSortBy="createdDate">
              <span jhiTranslate="userManagement.createdDate">Creat la data</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <span jhiTranslate="userManagement.lastModifiedBy">Modifica de</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <span jhiTranslate="userManagement.lastModifiedDate">Modificat la data</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        @if (users) {
          <tbody>
            @for (user of users; track trackIdentity) {
              <tr>
                <td>
                  <a [routerLink]="['./', user.login, 'view']">{{ user.id }}</a>
                </td>
                <td>{{ user.login }}</td>
                <td>{{ user.email }}</td>
                <td>
                  @if (!user.activated) {
                    <button
                      class="btn btn-danger btn-sm"
                      (click)="setActive(user, true)"
                      jhiTranslate="userManagement.deactivated"
                    >
                      Dezactivat
                    </button>
                  } @else {
                    <button
                      class="btn btn-success btn-sm"
                      (click)="setActive(user, false)"
                      [disabled]="!currentAccount || currentAccount.login === user.login"
                      jhiTranslate="userManagement.activated"
                    >
                      Activat
                    </button>
                  }
                </td>
                <td>{{ user.langKey }}</td>
                <td>
                  @for (authority of user.authorities; track $index) {
                    <div>
                      <span class="badge bg-info">{{ authority }}</span>
                    </div>
                  }
                </td>
                <td>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
                <td>{{ user.lastModifiedBy }}</td>
                <td>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
                <td class="text-end">
                  <div class="btn-group">
                    <button type="submit" [routerLink]="['./', user.login, 'view']" class="btn btn-info btn-sm">
                      <fa-icon icon="eye"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vizualizare</span>
                    </button>

                    <button
                      type="submit"
                      [routerLink]="['./', user.login, 'edit']"
                      queryParamsHandling="merge"
                      class="btn btn-primary btn-sm"
                    >
                      <fa-icon icon="pencil-alt"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editare</span>
                    </button>

                    <button
                      type="button"
                      (click)="deleteUser(user)"
                      class="btn btn-danger btn-sm"
                      [disabled]="!currentAccount || currentAccount.login === user.login"
                    >
                      <fa-icon icon="times"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Ștergere</span>
                    </button>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        }
      </table>
    </div>
  }

  @if (users) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="transition()"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
