<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span jhiTranslate="global.title" class="navbar-title">StorageService</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation" (click)="toggleNavbar()">
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed">
      <ul class="navbar-nav ms-auto">
        @if (languages && languages.length > 1) {
        <li ngbDropdown class="nav-item dropdown pointer" display="dynamic">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
            <span>
              <fa-icon icon="flag"></fa-icon>
              <span>{{ currentLanguage | findLanguageFromKey }}</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
            @for (language of languages; track $index) {
            <li>
              <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);"
                (click)="changeLanguage(language); collapseNavbar()">{{ language | findLanguageFromKey }}</a>
            </li>
            }
          </ul>
        </li>
        }

        @if (account !== null) {
          <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu"
            data-cy="accountMenu">
            @if (!account?.imageUrl) {
            <span>
              <fa-icon icon="user"></fa-icon>
              <span>{{account | nameDisplay: true}}</span>
            </span>
            } @else {
            <span>
              <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            </span>
            }
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            @if (account !== null) {
            <li>
              <a class="dropdown-item" routerLink="/account/settings" routerLinkActive="active"
                (click)="collapseNavbar()" data-cy="settings">
                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.settings">Setări</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/account/password" routerLinkActive="active"
                (click)="collapseNavbar()" data-cy="passwordItem">
                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.password">Parolă</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.logout">Ieșire</span>
              </a>
            </li>
            }
          </ul>
          </li>
        } @else {
          <li>
            <a class="nav-link" (click)="login()" id="login" data-cy="login">
              <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.login">Autentificare</span>
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>