<div class="d-flex justify-content-center">
  <div class="col-8">
    @if(reservation){
      <div>
        <h2>
          <span jhiTranslate="reservationSpace.userDetail.title">Rezervarea Utilizatorului </span> [<strong>Login User</strong>]
        </h2>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="reservationSpace.userDetail.user">Utilizatorul</span></dt>
          <dd>
            <span>user</span>
          </dd>

          <dt><span jhiTranslate="reservationSpace.userDetail.activationStatus">Status Activare</span></dt>
          <td>
            @if (!reservation.activated){
              <code jhiTranslate="userManagement.deactivated" class="p-1 bg-danger text-white">Deactivat</code>
            } @else {
              <code jhiTranslate="userManagement.activated" class="p-1 bg-success text-white">Activat</code>
            }
          </td>

          <dt><span jhiTranslate="reservationSpace.userDetail.totalSize">Spatiu total rezervat</span></dt>
          <dd>{{ reservation.totalSize }}</dd>

          <dt><span jhiTranslate="reservationSpace.userDetail.usedSize">Spatiu utilizat</span></dt>
          <dd>{{ reservation.usedSize }}</dd>

          <dt><span jhiTranslate="reservationSpace.userDetail.createdBy">creat de</span></dt>
          <dd>{{ reservation.createdBy }}</dd>

          <dt><span jhiTranslate="reservationSpace.userDetail.createdDate">creat la data</span></dt>
          <dd>{{ reservation.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>
        </dl>

        <button type="submit" routerLink="../../list" class="btn btn-info">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Înapoi</span>
        </button>
      </div>
    }

  </div>
</div>
