<div class="d-flex justify-content-center">
  <div class="col-8">
      <div>
        <h2>
          <span jhiTranslate="reservationSpace.userDetail.title">Rezervarea Utilizatorului </span> [<strong>Login User</strong>]
        </h2>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="reservationSpace.userDetail.user">Utilizatorul</span></dt>
          <dd>
            <span>User123</span>
          </dd>

          <dt><span jhiTranslate="reservationSpace.userDetail.activationStatus">Status Activare</span></dt>
          <dd><code>activated</code></dd>

          <dt><span jhiTranslate="reservationSpace.userDetail.totalSize">Spatiu total rezervat</span></dt>
          <dd>2222</dd>

          <dt><span jhiTranslate="reservationSpace.userDetail.usedSize">Spatiu utilizat</span></dt>
          <dd>111</dd>

          <dt><span jhiTranslate="reservationSpace.userDetail.createdBy">creat de</span></dt>
          <dd>Admin</dd>

          <dt><span jhiTranslate="reservationSpace.userDetail.createdDate">creat la data</span></dt>
          <dd>21/02/24 10:55</dd>
        </dl>

        <button type="submit" routerLink="../../reservation-space/list" class="btn btn-info">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Înapoi</span>
        </button>
      </div>

  </div>
</div>
