<div class="row p-2">
  <table class="table text-center">
    <thead>
      <tr>
        <th jhiTranslate="global.documents.table.thead.name" scope="col">file name</th>
        <th jhiTranslate="global.documents.table.thead.size" scope="col">size</th>
        <th jhiTranslate="global.documents.table.thead.last_modified" scope="col">last modified</th>
        <th jhiTranslate="global.documents.table.thead.user" scope="col">user</th>
        <th jhiTranslate="global.documents.table.thead.Actions" scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of pagedFiles">
        <td>{{file.name}}</td>
        <td>{{file.size}}</td>
        <td>{{file.createdDate}}</td>
        <td>{{file.createdBy}}</td>
        <td>
          <button (click)="call_delete_fileService(file.id)" class="btn btn-outline-danger">Delete</button>
          <button (click)="call_donwload_fileService(file.id)" class="btn btn-outline-primary">Donwload</button>
        </td>
      </tr>
    </tbody>
  </table>

  <nav class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="prevPage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="page === currentPage">
        <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="nextPage()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>