<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (document) {
      <div>
        <h2 data-cy="documentDetailsHeading"><span jhiTranslate="storageServiceApp.document.detail.title">Document</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ document.id }}</span>
          </dd>
          <dt><span jhiTranslate="storageServiceApp.document.title">Title</span></dt>
          <dd>
            <span>{{ document.title }}</span>
          </dd>
          <dt><span jhiTranslate="storageServiceApp.document.data">Data</span></dt>
          <dd>
            @if (document.data) {
              <div>
                <a (click)="openFile(document.data, document.dataContentType)" jhiTranslate="entity.action.open">Deschidere</a>
                {{ document.dataContentType }}, {{ byteSize(document.data) }}
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Înapoi</span>
        </button>

        <button type="button" [routerLink]="['/document', document.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editare</span>
        </button>
      </div>
    }
  </div>
</div>
