<div [ngClass]="{'nElement': account !== null}" class="bg">
  <div class="col-md-9 w-40 text">
    @if (account == null) {
    <p jhiTranslate="home.title" id="title"></p>
    }

    <!-- <p class="lead" jhiTranslate="home.subtitle">Aceasta este pagina ta de start</p> -->

    <div>
      <button jhiTranslate="global.messages.info.authenticated.link" (click)="login()"></button>
      <button jhiTranslate="global.messages.info.register.link" routerLink="/account/register"></button>
    </div>

    <div class="pt-3">
      @if (account !== null) {
      <div class="alert alert-success">
        @if (account) {
        <span id="home-logged-message" jhiTranslate="home.logged.message"
          [translateValues]="{ username: account.login }">Ești autentificat cu numele de utilizator &quot;{{
          account.login }}&quot;.</span>
        }
      </div>
      } @else {
      <!-- <div>
          <span jhiTranslate="global.messages.info.register.noaccount">Încă nu aveți un cont?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register"
            jhiTranslate="global.messages.info.register.link">Înregistrați un cont nou</a>
        </div> -->
      <div>
        <span jhiTranslate="global.messages.info.authenticated.prefix">Dacă doriți să vă </span>
        <span jhiTranslate="global.messages.info.authenticated.suffix">, puteți încerca conturile implicite:<br />-
          Administrator (login=&quot;admin&quot; și parola=&quot;admin&quot;) <br />-
          Utilizator (login=&quot;user&quot; și parola=&quot;user&quot;).</span>
      </div>
      }
    </div>
  </div>
</div>