/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}

div {
  overflow: hidden;
}

img {
  max-width: 80vh;
}

.text {
  max-width: 70vh;
}

#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  height: 80vh;
  width: 100%;
  padding: 1%;
}

button {
  background-color: rgb(255, 203, 108);
  border: none;
  border-radius: 45px;
  padding: 1vh 3vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
    background-size: contain;
  }
}