<div>
    <button class="btn btn-outline-danger" (click)="toggleModal()">Delete</button>
    <div class="modal-background" *ngIf="modalVisible">
        <div class="modal-content">
            <h2>{{ title }}</h2>
            <p>{{ content }}</p>
            <hr/>
            <div class="d-flex justify-content-center">
                <button class="btn btn-danger me-4" (click)="confirmDeleteAction(idFile)">confirm delete</button>
                <button class="btn btn-primary" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>