<div>
    <h1>Used space</h1>
    <div class="d-flex justify-content-between text-white">
        <span class="bg-info p-2 w-50">Reservated Space: {{ReservatedSpace}} MB</span>
        <span class="bg-success p-2 w-50">Used Space: {{UsedSpace}} MB</span>
    </div>

    <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" [style.width.%]="calculateProgress(ReservatedSpace)"></div>
        <div class="progress-bar bg-success" role="progressbar" [style.width.%]="calculateProgress(UsedSpace)"></div>
    </div>

    <form class="form-group d-flex justify-content-between my-4" #addSpaceForm="ngForm" (ngSubmit)="addSpace(addSpaceForm.value)">
        <input name="addSpaceInput" required type="text" class="form-control" ngModel>
        <button type="submit" class="btn btn-outline-success w-50">Add space</button>
    </form>
    <form class="form-group d-flex justify-content-between " #deleteSpaceForm="ngForm" (ngSubmit)="deleteSpace(deleteSpaceForm.value)">
        <input name="deleteSpaceInput" required type="text" class="form-control" ngModel>
        <button type="submit" class="btn btn-outline-danger w-50">Delete space</button>
    </form>
</div>